#contact {
	height: 650px;
	clear: both;
}

address {
	display: block;
	float: left;
	margin-top: 10px;
}

#contact_form {
	display: block;
	position: relative;
	float: right;
	margin: 0;
	width: 576px;
}
.member_picture {
	border-radius: 50%;
}


label {
	display: block;
	margin-top: 10px;
	padding-left: 10px;
	letter-spacing: 1px;
	font-family: sans-serif;
}

input,
textarea {
	width: 439px;
	height: 27px;
	background: #efefef;
	border: 1px solid #dedede;
	padding: 10px;
	margin-top: 3px;
	margin-bottom: 10px;
	font-size: 0.9em;
	color: #3a3a3a;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

textarea {
	height: 183px;
}

input:focus,
textarea:focus {
	border: 1px solid #97d6eb;
}

#submit {
	width: 127px;
	height: 38px;
	background-color: #97d6eb;
	margin-top: 10px;
	cursor: pointer;
}

td {
	padding: 10px;
}

h2, h3 {
	text-align: center;
}