
body{
background:#787878;
	background: linear-gradient(rgb(78, 18, 0), rgb(26, 4, 104),#010); 
}

#permbajtja{
     max-width:1000px;
  margin:auto;
  background: white;
  background: linear-gradient(rgb(255, 254, 168), rgb(212, 200, 255),rgb(190, 240, 190));
}


ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #334;


}

li {
    float:right ;
}

li a {
    display: block;
    color: white;
font-size:18px;
    text-align: center;
  padding:50px 16px;
    text-decoration: none;

}


li a:hover {
    background-color:orange;
color: #CA6500;
}
.menu a:hover{
  border-top: 5px solid grey;

}
.menu a.active {
  border-top: 5px solid orange;

}
footer {
	/*background-color: #f5f5f5;*/
	width: 100%;
	margin: auto;
}
#footer_bottom {
	width: 98%;
	height: 50px;
	color: #d8d8da;
	padding-left: 2%;
	margin-top: 0px;
	background-color: #1a2329;
	float: left;
	bottom: 0;
}